{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "exclude": ["transform-async-to-generator", "transform-regenerator"],
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-class-properties",
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    }
  }
}